.example-events {
  width: 250px;
  height: 150px;
  overflow: auto;
  border: 1px solid #555;
}

.active, .active:hover{
  background-color: #049B2D;
}
.mat-nav-list .mat-list-item{
  color: #343A40;
  font-size: 0.8em!important;
}
.mat-nav-list .mat-expansion-panel-header{
  color: #343A40;
  font-size: 0.8em!important;
}

.active2, .active2:hover{
  background-color: #1b7549;
}

.element{
  font-size: 12px!important;
  font-weight: 400!important;
  display: flex;
  padding: 4px 0;
  color: #FFFFFF;
}
.element-inside{
  font-size: 12px!important;
  font-weight: 400!important;
  display: flex;
  padding: 6px 0 6px 16px;
  color: #FFFFFF;
}

.mat-expansion-panel-header, .mat-mdc-list-base{
  background-color: #26404e;
}

.mat-expansion-panel{
  background-color: #26404e;
}
