<div mat-dialog-title>
  <div class="dialog-header">
    <span class="dialog-title">VER INFORMACIÓN</span>
  </div>
  <button mat-icon-button class="close-button2" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content *ngIf="seed">
  <!--<div class="unique-title">INFORMACIÓN PERSONAL</div>
   <hr>-->

  <div class="row">
    <div class="col-md-12">
      <div class="volunteer-cont" *ngIf="seed">
        <div class="name">
          <mat-icon>person</mat-icon>
          <span>{{seed.name}} {{seed.lastname}}</span>
        </div>
        <mat-chip-listbox>
          <mat-chip class="contr-type">
            <span>{{seed.contributionType}}</span></mat-chip>
        </mat-chip-listbox>
      </div>
    </div>
    <div class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
       <span style="font-weight: 500"> Correo: </span>
      <span>{{ seed.email}}</span>
    </div>
    <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
      <span style="font-weight: 500">Celular: </span>
      <span>{{ seed.phone}}</span>
    </div>
    <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
      <span style="font-weight: 500">Dni: </span>
      <span>{{ seed.dni}}</span>
    </div>
    <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
      <span style="font-weight: 500">Fecha de nacimiento: </span>
      <span> {{ seed.birthdate| date:'mediumDate'}}</span>
    </div>
    <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
      <span style="font-weight: 500">País: </span>
      <span>{{ seed.country}}</span>
    </div>
    <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
      <span style="font-weight: 500">Ciudad: </span>
      <span>{{ seed.city}}</span>
    </div>
    <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
      <span style="font-weight: 500">Dirección: </span>
    <span> {{ seed.address}}</span>
    </div>
  </div>

 <!--
   <div class="unique-title">INFORMACIÓN DEL APORTE</div>
    <hr>
  -->

  <div class="row">
    <p></p>
    <mat-divider class="subtitle"></mat-divider>

    <span class="span-title">INFORMACIÓN DEL APORTE</span>
    <mat-divider class="subtitle"></mat-divider>
    <ng-container *ngIf="seed.contributionConfig.contributionType==='APORTE_CONSTANTE' else unique">
      <div class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
        <span style="font-weight: 500">Monto de contribución: </span>
        <span>{{seed.contributionConfig.contribution.contributionAmount}}</span>
      </div>

      <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
        <span style="font-weight: 500">Método de Pago: </span>
        <span>{{seed.contributionConfig.contribution.paymentMethod}}</span>
      </div>
      <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon><span style="font-weight: 500">Recordatorio: </span>
       <span> {{seed.contributionConfig.contribution.remainderType}}</span>
      </div>
      <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon><span style="font-weight: 500">Recibir noticias: </span>
      <span> {{seed.contributionConfig.contribution.sendNews ? 'Sí' : 'No'}}</span>
      </div>
      <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon><span style="font-weight: 500">Envío de noticias: </span>
        <span>{{seed.contributionConfig.contribution.sendNewsType}}</span>
      </div>
      <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon><span style="font-weight: 500">Fecha inicio de aporte: </span>
        <span>{{seed.contributionConfig.contribution.contributionStartDate| date:'mediumDate'}}</span>
      </div>
      <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon><span style="font-weight: 500">Fecha fin de aporte: </span>
        <span>{{seed.contributionConfig.contribution.contributionEndDate | date:'mediumDate'}}</span>
      </div>
      <span  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
        <span style="font-weight: 500">Día de contribución: </span>
        <span>{{seed.contributionConfig.contribution.paymentNumberDay}}</span>
      </span>
      <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon><span style="font-weight: 500">Mes de inicio: </span>
        <span> {{seed.contributionConfig.contribution.startMonth}}</span>
      </div>
    </ng-container>
    <ng-template #unique>
      <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
        <span style="font-weight: 500">Monto de contribución: </span>
        <span>{{seed.contributionConfig.contribution.contributionAmount}}</span>
      </div>
      <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
        <span style="font-weight: 500">Método de Pago: </span>
        <span> {{seed.contributionConfig.contribution.paymentMethod}}</span>
      </div>
      <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
        <span style="font-weight: 500">Recibir noticias: </span>
        <span>{{seed.contributionConfig.contribution.sendNews ? 'Sí' : 'No'}}</span>
      </div>
      <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
        <span style="font-weight: 500">Envío de noticias: </span>
        <span> {{seed.contributionConfig.contribution.sendNewsType}}</span>
      </div>
      <div  class="col-md-6 span-icon">
      <mat-icon>label_important</mat-icon>
        <span style="font-weight: 500">Fecha de contribución elegida: </span>
        <span>{{seed.contributionConfig.contribution.dateContribution| date:'mediumDate'}}</span>
      </div>
    </ng-template>
    <p></p>
  </div>
</mat-dialog-content>
