<ng-container *ngIf="!loadingSeed else loadingData">
  <div class="volunteer-cont">
    <span class="name-cont"> <mat-icon>local_library</mat-icon>
            <span style="font-weight: 500">Semilla : </span>
      <span> {{seed.name}} {{seed.lastname}}</span></span>
      <div>
        <!-- <button (click)="openBottomSheet()"
                 matTooltip="Exportar"
                 mat-mini-fab color="primary">
           <mat-icon>cloud_download</mat-icon>
         </button>
         <button (click)="openPDF()"
                 matTooltip="Exportar Registros"
                 mat-mini-fab color="primary">
           <mat-icon>cloud_download</mat-icon>
         </button> -->
        <button (click)="newDonation()"
                matTooltip="Registrar nuevo aporte"
                class="add-button-color"
                mat-mini-fab color="primary">
          <mat-icon>add_comment</mat-icon>
        </button>
      </div>
  </div>
  <ng-container *ngIf="!loadingTable else loading">
      <app-generic-table
        *ngIf="data?.rows.length"
        [inputTable]="data.rows"
        (actionOutput)="actionOutput($event)"
      >
      </app-generic-table>
  </ng-container>
    <ng-template #loading>
      <mat-spinner class="loading">
      </mat-spinner>
    </ng-template>
</ng-container>
<ng-template #loadingData>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
