<div class="container">
    <app-title-banner
      [hasTranslate]="false"
      [title]="'REGISTRAR NUEVA SEMILLA'">

    </app-title-banner>

       <app-personal-info
         [isFromVolunteer]="true"
         (donationTypeEmitter)="chooseDonationType($event)"
         (personalInfoEmitter)="getPersonalInfo($event)"
       ></app-personal-info>

      <ng-container *ngIf="donationType==='APORTE_CONSTANTE'">
        <app-constant-donation
          (constantContribution)="emitContribution($event)">
        </app-constant-donation>
      </ng-container>
      <ng-container *ngIf="donationType==='APORTE_UNICO'">
        <app-unique-donation
          (uniqueDonation)="emitContribution($event)"
        ></app-unique-donation>
      </ng-container>
      <ng-container *ngIf="donationType==='APORTE_EMPRESAS'">
        <app-enterprise-donation
          (enterpriseContribution)="emitContribution($event)"
        ></app-enterprise-donation>
      </ng-container>

  <div align="center">
    <button [disabled]="!canSendForm"
            mat-raised-button color="primary"
            (click)="sentData()">ENVIAR DATOS
      <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
