<ng-container *ngIf="!loadingVolunteer else loadingData">
    <div class="volunteer-cont">
      <span class="name-cont"> <mat-icon>local_library</mat-icon>
            <span style="font-weight: 500">Responsable : </span>
        <span> {{ volunteer?.name}} {{volunteer?.lastname}}</span></span>
        <!--<button (click)="openAsignDialog()"
                matTooltip="Asignar otra semilla"
                mat-mini-fab color="accent">
          <mat-icon>group_add</mat-icon>
        </button> -->
    </div>
  <ng-container *ngIf="!loadingTable else loading">
      <app-generic-table
        *ngIf="data"
        [inputTable]="data.rows"
        (actionOutput)="actionOutput($event)"
      >
      </app-generic-table>
  </ng-container>
  <ng-template #loading>
    <mat-spinner class="loading">
    </mat-spinner>
  </ng-template>
</ng-container>
<ng-template #loadingData>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
