
.mdc-dialog__title{
  margin: 0 auto !important;
  display: flex;
  padding: 0!important;
  justify-content: space-between;
  border-bottom: 1px solid #2e7d32;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}

.dialog-header{
  width: 96% !important;
  text-align: center;
  padding-top: 8px;
}
.loading{
  margin: 0 auto;
}

.mat-primary.mat-mdc-chip-selected{
  background-color: #bd5533;
}
