<div mat-dialog-title>
  <div class="dialog-header">
    <span class="dialog-title">EDITAR SEMILLA</span>
  </div>
  <button mat-icon-button class="close-button2" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button
          (click)="onSubmit()"
          class="accept-bt"
          [disabled]="!this.applicantForm"
          color="primary">EDITAR INFORMACIÓN</button>
</mat-dialog-actions>
