.mat-chip{
  font-size: 0.8em !important;
  font-weight: 400 !important;
  color: #FFFFFF !important;
}

.option{
  font-size: 13px;
}
.subtitle {
  border: 1px solid #6b9074;
  //margin-bottom: 16px;
  width: 96%;
  margin: 4px auto 16px ;
}

.message{
  display: flex;
  padding: 4px 0;
  margin-top: 0;
  font-size: 12px;
  color: #00000099;
  letter-spacing: 0.5px;
}

.option-container{
  display: flex;
  .chip-list{
    margin-top: -10px;
    padding-left: 10px;
    //background-color: #6b9074;
  }
}
