<div mat-dialog-title>
  <div class="dialog-header">
    <span class="dialog-title">ASIGNAR RESPONSABLE DE SEGUIMIENTO A SEMILLA</span>
  </div>
  <button mat-icon-button class="close-button2" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="assignForm" class="row" *ngIf="!sendingData else loading">
    <div class="col-md-12">
      <div class="volunteer-cont" *ngIf="seed">
       <div class="name">
         <mat-icon>person</mat-icon>
         <span style="font-weight: 500">Semilla: </span>
         <span>{{seed.name}} {{seed.lastname}}</span>
       </div>
      </div>
    </div>
   <ng-container *ngIf="data.trackingAssignmentId!= null">
     <mat-divider class="subtitle"></mat-divider>
     <div class="col-md-12 option-container">
      <span class="message">
        <mat-icon color="primary">priority_high</mat-icon>
        La semilla ya tiene un responsable de seguimiento,
        al seleccionar otro se reemplazara el responsable actual.</span>
     </div>
     <mat-divider class="subtitle"></mat-divider>
   </ng-container>
    <mat-form-field appearance="fill"
                    [floatLabel]="'always'"
                    class="col-md-12">
      <mat-label>Seleccionar al responsable que desea asignar</mat-label>
      <input type="text"
             placeholder="Lucia...."
             aria-label="Number"
             matInput
             required
             formControlName="searchValue"
             [matAutocomplete]="auto">
      <mat-autocomplete
        (optionSelected)="selected($event)"
        autoActiveFirstOption #auto="matAutocomplete">
        <mat-option class="option" (onSelectionChange)="updateMySelection($event)"
                     *ngFor="let option of filteredSeeds | async" [value]="option">
          {{option.largename}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field
      class="col-md-6"
      floatLabel="always"
      appearance="fill">
      <mat-label>Inicio de asignación</mat-label>
      <input formControlName="start_date"
             matInput
             required
             [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
    <mat-form-field
      class="col-md-6"
      floatLabel="always"
      appearance="fill">
      <mat-label>Fin de asignación</mat-label>
      <input formControlName="end_date"
             matInput
             required
             [matDatepicker]="picker2">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
  </form>
  <ng-template #loading>
    <mat-spinner mode="indeterminate" class="loading">
    </mat-spinner>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    (click)="confirm()"
    [disabled]="!assignForm.valid || sendingData"
    mat-raised-button color="primary">GUARDAR DATOS</button>
</mat-dialog-actions>
