.navbar{
  display: flex;
  background-color: /*#00A846*/#2e7d32;
  color: white;
  position: fixed;
  right:0;
  left: 0;
  z-index:80;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -20px;
}

///////////////////////////////////////
.menu-icon{
  padding: 12px 0 8px 0;
  background-color: #26404e;
}
.navbar2{
  display: flex;
  background-color: #FFFFFF;
  color: #26404e;
  position: fixed;
  right:0;
  left: 0;
  z-index:80;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -20px;
  .navbar-brand{
    background-color: #26404e;
    padding-left: 25px;
  }
}
.navbar-brand{
  width: 270px;
  margin-left: 0;
  img{
    max-height: 55px;
    max-width: 200px;
    padding: 0;
    //padding-left: 24px;
    margin: 0 auto;
  }
}

.current-user-menu mat-icon{
  color: #26404e;
}
.current-user-menu{
  display: flex;
  padding-top: 20px;
  margin-left: auto;
}
.current-user{
  color: #26404e; //#FFFFFF;
  padding: 6px 0 6px 16px;
  font-size: 16px;
}
//////////////////////////////////////
ul{
  margin-bottom: 0;
  //margin: 1px 6px 0;
}
.collapse{
  justify-content: right;
}
.navbar-collapse{
  //padding-top: 14px;
  padding-top: 10px;
}
.nav-item{
  color: white;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.nav-item:hover, .nav-link:focus {
  color: white;
  border-top: solid #FFFFFF 3px;
}
.navbar-toggler {
  justify-content: left;
  margin-top: 10px;
  //padding-bottom: 4px;
}
mat-icon{
  color: aliceblue;
}
.leftmenu {
  left: 0;
  margin-top: 10px;
}
.len-button{
  justify-content: left;
  margin-top: 10px;
  height: 50px;
}
.nav1{
  background-color: #212121;
  max-height: 20px;
  height: 20px;
  border: none;
  position: fixed;
  right:0;
  left: 0;
  z-index:100;
  top: 0;
}

::ng-deep .mat-expansion-panel-header {
  padding: 0 16px !important;
}

::ng-deep .mat-nav-list .mat-icon {
  margin-right: 10px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important
}

::ng-deep .mat-expansion-panel-header {
  height: 48px !important;
}

::ng-deep .mat-expansion-panel .mat-list-item {
  padding-left: 15px !important;
}

::ng-deep .mat-nav-list .is-active {
  background-color: rgb(204, 204, 204)!important;
  border-left     : 8px solid rgb(139, 137, 133);
  width           : calc(100% - 8px)!important;;
}

::ng-deep .mat-list-base {
  padding-top: 0 !important;
}

::ng-deep .mat-nav-list .mat-list-item.is-active .mat-list-item-content {
  padding: 0 8px;
}

.menu{
  height: 20px;
  display: flex;
  justify-content: flex-end;
}

