.container{
  margin-top: 60px;
  width: 94%;
}

mat-card{
  margin-bottom: 12px;
  padding: 16px;
}

.option{
  font-size: 12px;
}

.button-width{
  margin-left: 4px;
  margin-top: 16px;
  padding: 16px 32px;
}

.volunteer-cont{
  padding-left: 32px;
}

.downloadbutton{
  background-color: rgb(109, 182, 105);
}
