<div class="container">
  <app-title-banner
    [hasTranslate]="false"
    [title]="'SEGUIMIENTO DE APORTES DE SEMILLAS'">

  </app-title-banner>
  <mat-card>
    <div class="volunteer-cont">
      <form [formGroup]="filterForm" class="row">
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Elige un rando de fechas</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input disabled matStartDate placeholder="Inicio" formControlName="beginDate">
            <input disabled matEndDate placeholder="Fin" formControlName="endDate">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker disabled="false" #picker></mat-date-range-picker>
        </mat-form-field>
          <mat-form-field class="col-md-4" appearance="outline">
            <mat-label>Metodo de pago</mat-label>
            <mat-select formControlName="paymentMethod" [disabled]="filterForm.get('activePaymentMethod').value">
              <mat-option class="option" *ngFor="let m of paymentMethods" [value]="m.value">
                {{m.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field class="col-md-4" appearance="outline">
          <mat-label>Tipo de aporte</mat-label>
          <mat-select formControlName="contributionType">
            <mat-option class="option" *ngFor="let m of contributionTypes" [value]="m.value">
              {{m.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--          <mat-checkbox class="col-md-1" [matTooltip]="'Desactivar filtro'" formControlName="activePaymentMethod"></mat-checkbox> -->
        <!--<div class="col-md-4">
          <mat-chip-listbox class="mat-mdc-chip-set-stacked" formControlName="contributionType">
            <mat-chip-option class="option" *ngFor="let type of contributionTypes" [value]="type.value"
                             color="accent">{{type.name}}</mat-chip-option>
          </mat-chip-listbox>
        </div> -->
        <div class="col-md-12">
          <button class="button-width" (click)="buttonGetRecords()" mat-flat-button color="warn">Solicitar aportes</button>
        </div>

      </form>
      <button class="downloadbutton"
              (click)="openBottomSheet()"
              matTooltip="Descargar Registros"
              mat-fab color="primary">
        <mat-icon>cloud_download</mat-icon>
      </button>
    </div>

  <ng-container *ngIf="!loadingTable else loading">
      <app-generic-table
        *ngIf="data?.rows?.length"
        [inputTable]="data.rows"
        (actionOutput)="actionOutput($event)"
      >
      </app-generic-table>
  </ng-container>
  </mat-card>

  <ng-template #loading>
    <mat-spinner class="loading">
    </mat-spinner>
  </ng-template>
</div>
