<div mat-dialog-title>
  <div class="dialog-header">
    <span class="dialog-title">ACTUALIZAR CONTRASEÑA</span>
  </div>
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="volunteerForm" *ngIf="volunteer else loading" class="row">
    <div class="col-md-12">
      <div class="volunteer-cont row">
        <span class="name-cont col-md-6"> <mat-icon>label_important</mat-icon>
            <span style="font-weight: 500">Semilla : </span>
            <span> {{volunteer.name}} {{volunteer.lastname}}</span>
        </span>
        <span class="name-cont col-md-6"> <mat-icon>label_important</mat-icon>
            <span style="font-weight: 500">Correo : </span>
            <span> {{volunteer.email}}</span>
        </span>
        <span class="name-cont col-md-6"> <mat-icon>label_important</mat-icon>
            <span style="font-weight: 500">CI : </span>
            <span> {{volunteer.dni}}</span>
        </span>
        <span class="name-cont col-md-6"> <mat-icon>label_important</mat-icon>
            <span style="font-weight: 500">Celular : </span>
            <span> {{volunteer.phone}}</span>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <mat-form-field floatLabel="always"
                      appearance="fill">
        <mat-label>Contraseña nueva</mat-label>
        <input matInput formControlName="updatedVolunteerPassword" [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="updatedVolunteerPassword.invalid">{{getErrorMessagePassword()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field floatLabel="always"
                      appearance="fill">
        <mat-label>Confirmar contraseña nueva</mat-label>
        <input matInput formControlName="updatedVolunteerPasswordConfirmed"
               [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="updatedVolunteerPasswordConfirmed.invalid">{{getErrorMessagePasswordConfirmed()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <span class="mat-error" *ngIf="volunteerForm.errors?.passwordNotMatch">Las contraseñas no coinciden</span>
    </div>
  </form>
  <ng-template #loading>
    <mat-spinner class="loading">
    </mat-spinner>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button
          (click)="onSubmit()"
          class="accept-bt"
          [disabled]="!volunteerForm.valid"
          color="primary">ACTUALIZAR CONTRASEÑA</button>
</mat-dialog-actions>
