<div class="container">

  <app-title-banner
    [title]="'LISTA DE ACTIVIDADES ACTUALES'">
  </app-title-banner>
  <div class="volunteer-cont">

    <button mat-mini-fab class="add-button-color"
            color="primary"
            (click)="onAdding()"
            matTooltip="Registrar nuevo responsable">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="!loadingActivities else loading">
    <app-list-activities
      (chosenAction)="chosenAction($event)"
      [canTakeActions]="true"
      [activitiesList]="activitiesList"></app-list-activities>
  </ng-container>
  <ng-template #loading>
    <mat-spinner class="loading">
    </mat-spinner>
  </ng-template>
</div>
