.donations{
  padding: 8px;
  form{
    margin: 8px;
  }
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
  padding-bottom: 12px;
}

.views-fields{
  padding-top: 10px;
  padding-bottom: 20px;
}

mat-error{
  color: 	#ad2831;
}

mat-form-field{
  width: 100%;
  padding-bottom: 16px;
  letter-spacing: 0.5px;
}


.message{
  display: flex;
  padding: 4px 0;
  margin-top: 0;
  font-size: 12px;
  font-weight: 500;
  color: #00000099;
  letter-spacing: 0.5px;
}

.option-container{
  display: flex;
  padding-bottom: 8px;
  .chip-list{
    margin-top: -8px;
    padding-left: 10px;
  }
}
.subtitle {
  border: 1px solid #6b9074;
  width: 96%;
  margin: 4px auto 16px ;
}
