::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}
.dialog-header{
  width: 96% !important;
  text-align: center;
  padding-top: 8px;
}

.dialog-title{
  font-size: 16px;
  letter-spacing: 0.08rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-right: -20px;
  padding:  16px 12px;
  margin-top: 8px;
}

mat-dialog-content{
  padding: 24px !important;
  font-size: 0.9em!important;
}
.mdc-dialog__title{
  margin: 0 auto !important;
  display: flex;
  padding: 0!important;
  justify-content: space-between;
  border-bottom: 1px solid #2e7d32;
}
.mat-form-field{
  //width: 100%;
  letter-spacing: 0.05rem;
}

.accept-bt{
  color: white;
  letter-spacing: 0.05rem;
}

.mat-dialog-actions{
  padding: 8px;
}

.content{
  color: #333333;
  font-size: 13px;
  letter-spacing: 0.06rem;
}

.volunteer-cont{
  border-bottom: 2px solid #6b9074;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 16px;
  background: rgba(76, 175, 80, 0.1);
  display: flex;
  justify-content: space-between;
  .name{
    margin: auto 0;
    display: flex;
    span{
      padding-top: 2px;
      margin-left: 8px;
      font-size: 0.9em;
    }
  }
}
span{
  letter-spacing: 1px;
}
.mat-chip{
  background-color: #102027;
  span{
    color: white!important;
    display: flex;
    padding: 6px 0;
  }
}

.contr-type{
  background-color: #6b9074;
  span{
    color: #FFFFFF;
    font-size: 0.9em;
  }
}
.mat-mdc-form-field{
  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #FFFFFF;
  }
}
