<div mat-dialog-title>
  <div class="dialog-header">
    <span class="dialog-title">DETALLE DE REGISTRO</span>
  </div>
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="activityForm" class="row">
    <div class="col-md-6">
      <mat-form-field
        floatLabel="always"
        appearance="fill">
        <mat-label>Titulo de la actividad: </mat-label>
        <input matInput formControlName="title" >
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field
        floatLabel="always"
        appearance="fill">
        <mat-label>Idioma de la actividad</mat-label>
        <mat-select formControlName="len" required>
          <mat-option class="mat-select-option" [value]="'SPANISH'">
            Español
          </mat-option>
          <mat-option class="mat-select-option" [value]="'ENGLISH'">
            Ingles
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>Descripción: </mat-label>
        <textarea matInput
                  required
                  formControlName="description"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="5"></textarea>
        <mat-hint align="end">{{activityForm.get('description').value?.length || 0}}/900</mat-hint>

        <!--<mat-error *ngIf="dni.invalid">{{'personal-info.fieldAddressError' | translate}}</mat-error> -->
      </mat-form-field>

    </div>

    <div class="col-md-6">
        <input type="file" accept=".png, .jpg,.jpeg"
               (change)="onFileChange($event)" id="inputFile" class="inputfile">
      <label for="inputFile" class="label">Elegir una imagen</label>

    </div>
    <div *ngIf="loadedImage" class="col-md-6">
      <img class="loaded-image" src="{{image}}" alt="">
    </div>
      <mat-divider  class="subtitle"></mat-divider>
    <div class="option-container">
        <span class="message">
        <mat-icon color="primary">priority_high</mat-icon>
         ¿ Deséa registrar la traducción a inglés ?</span>
      <mat-chip-listbox class="chip-list" formControlName="setTranslate">
        <mat-chip-option [value]="true"
                         class="option"
                         (click)="addComment()"
                         color="accent" >Sí
        </mat-chip-option>
        <mat-chip-option [value]="false"
                         class="option"
                         (click)="deleteComment(0)"
                         color="warn" selected>No
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
      <mat-divider  class="subtitle"></mat-divider>

      <ng-container *ngIf="activityForm.get('setTranslate').value" formArrayName="translateList">
        <ng-container *ngFor="let translate of translateList.controls; let i = index">
          <ng-container [formGroup]="translate">
            <mat-form-field
              floatLabel="always"
              class="col-md-6"
              appearance="fill">
              <mat-label>Titulo de la actividad: </mat-label>
              <input matInput formControlName="title" >
            </mat-form-field>
            <div class="col-md-6">
              <mat-form-field
                floatLabel="always"
                appearance="fill">
                <mat-label>Idioma de la actividad</mat-label>
                <mat-select formControlName="len" required>
                  <mat-option class="mat-select-option" [value]="'ENGLISH'">
                    Ingles
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field floatLabel="always" appearance="fill">
                <mat-label>Descripción: </mat-label>
                <textarea matInput
                          required
                          formControlName="description"
                          cdkAutosizeMinRows="2"
                          cdkAutosizeMaxRows="5"></textarea>
                <mat-hint align="end">{{translate.get('description').value?.length || 0}}/900</mat-hint>

                <!--<mat-error *ngIf="dni.invalid">{{'personal-info.fieldAddressError' | translate}}</mat-error> -->
              </mat-form-field>

            </div>
           <!--
             <span class="col-md-1">
            <button mat-icon-button color="primary"  (click)="deleteComment(i)">
              <mat-icon class="delete-btn">clear</mat-icon>
           </button>
          </span>
            -->
          </ng-container>

        </ng-container>
      </ng-container>


  </form>
  </mat-dialog-content>
<mat-dialog-actions align="center">
  <button [disabled]="!activityForm.valid"
          mat-flat-button
          (click)="sendData()"
          color="primary">{{data.isUpdate? 'ACTUALIZAR DATOS' : 'GUARDAR DATOS'}}</button>
</mat-dialog-actions>
