
.span-title{
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: -4px;
}
.contr-type{
  background-color: #6b9074;
  span{
    color: #FFFFFF;
    font-size: 0.9em;
  }
}
