<div mat-dialog-title>
  <div class="dialog-header">
    <span class="dialog-title">VER REGISTRO DE APORTE</span>
  </div>
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <ng-container *ngIf="!loadingContributionConfig else loading">
    <div class="row label-container" *ngIf="contributionRecord">
      <div class="volunteer-cont">
            <span class="name-cont"> <mat-icon>local_library</mat-icon>
              <span style="font-weight: 500">Semilla : </span>
              <span> {{contributionRecord.contributorDTO.name}}
                {{contributionRecord.contributorDTO.lastname}}</span>
            </span>
      </div>
      <span  class="col-md-6"><span style="font-weight: 500">
      <mat-icon>label_important</mat-icon>
      Celular: </span>{{contributionRecord.contributorDTO.phone}}</span>
      <span  class="col-md-6"><span style="font-weight: 500">
      <mat-icon>label_important</mat-icon>
      Ciudad: </span>{{contributionRecord.contributorDTO.city}}</span>
      <span  class="col-md-6"><span style="font-weight: 500">
      <mat-icon>label_important</mat-icon>
      Tipo de aporte: </span>
        <mat-chip-listbox>
              <mat-chip class="chip-label" ><span>{{contributionRecord.contributorDTO.contributionType |uppercase}}</span></mat-chip>
        </mat-chip-listbox>
        </span>
      <span  class="col-md-6"><span style="font-weight: 500">
      <mat-icon>label_important</mat-icon>
      Monto de aporte: </span>{{contributionRecord.contributionAmount}}</span>

      <span  class="col-md-6"><span style="font-weight: 500">
      <mat-icon>label_important</mat-icon>
      Fecha de pago esperada: </span>
        {{contributionRecord.expectedPaymentDate| date:'mediumDate'}}</span>

      <span  class="col-md-6"><span style="font-weight: 500">
      <mat-icon>label_important</mat-icon>
      Monto de aporte extra: </span>{{contributionRecord.extraIncomeAmount}}</span>


      <span  class="col-md-6"><span style="font-weight: 500">
      <mat-icon>label_important</mat-icon>
      Fecha de pago: </span>{{contributionRecord.paymentDate | date:'mediumDate'}}</span>

      <span  class="col-md-6"><span style="font-weight: 500">
      <mat-icon>label_important</mat-icon>
      Codigo de recibo: </span>{{contributionRecord.receiptCode }}</span>

      <span  class="col-md-6"><span style="font-weight: 500">
      <mat-icon>label_important</mat-icon>
      Número de recibo: </span>{{contributionRecord.receiptNumber }}</span>
      <span  class="col-md-6"><span style="font-weight: 500">
      <mat-icon>label_important</mat-icon>
      Metodo de pago: </span>
        <mat-chip-listbox>
              <mat-chip  class="chip-label" ><span>{{contributionRecord.paymentMethod}}</span></mat-chip>
        </mat-chip-listbox>
        </span>

    </div>
  </ng-container>
  <ng-template #loading>
    <mat-spinner mode="indeterminate" class="loading">
    </mat-spinner>
  </ng-template>
</mat-dialog-content>
