.container {
  margin-top: 70px;
  width: 96%;
}
mat-card{
  margin-bottom: 12px;
  padding: 16px;
}
mat-chip{
  font-size: 10px;
}

.loading{
  margin: 0 auto;
  z-index: 100;
}

.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 8px;
}
.title{
  float: left;
  font-size: 18px;
  letter-spacing: 0.08rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 14px 0;
}

hr{
  width: 96%;
  margin: 12px auto;
}
//////////////////////////////////////////////
.volunter-cont{
  border-bottom: 1px solid rgba(76, 175, 80, 0.6);
  border-radius: 10px;
  padding: 16px 8px 12px 8px;
  margin-bottom: 16px;
  background: rgba(76, 175, 80, 0.1);
  display: flex;
  justify-content: space-between;
  .name{
    display: flex;
    span{
      padding-top: 2px;
      margin-left: 8px;
      font-size: 0.9em;
      letter-spacing: 1px;
    }
  }
}
.contr-type{
  background-color: #1b7549;
  span{
    color: #FFFFFF;
    font-size: 0.9em;
  }
}
mat-chip-option{
  font-size: 12px;
}

.volunteer-head{
  display: flex;
  justify-content: space-between;
  .active.mat-primary.mat-mdc-chip-selected{
    background-color: #6db669;
  }

  .inactive.mat-primary.mat-mdc-chip-selected{
    background-color: #bd5533;
  }

  .pending.mat-primary.mat-mdc-chip-selected{
    background-color: #ce7e00;
  }
}
